*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1, h3, h4, h5{
    font-family: 'Yeseva One', cursive;
}

.band{
    border: 5px solid grey;
    margin: 50px;
}

p{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
    text-align: justify;
}

audio{
    margin: 15px;
}
